body {
  background-color: #e8eae6;
  font-family: "Bona Nova", serif;
  margin: 40px auto;
}

a {
  text-decoration: none;
  color: #90cbf8;
}

.current-temperature {
  font-size: 64px;
}

.celsius-link,
.fahrenheit-link {
  color: #e8eae6;
  font-size: 16px;
  line-height: 36px;
}

#temp-type .active {
  color: #e8eae6;
  cursor: default;
}

#temp-type .active:hover {
  text-decoration: none;
}

h3 {
  font-style: italic;
}

h3::first-letter {
  text-transform: capitalize;
}

.card {
  background-color: #cfdac8;
  margin: 15px auto;
  padding: 15px;
  max-width: 900px;
  border: 2px solid #a2b29f;
  border-radius: 15px;
}
.card-current {
  background-color: #a2b29f;
  color: #e8eae6;
  border: 2px solid #cfdac8;
}

ul {
  list-style: none;
}

.current-icon {
  margin-top: -85px;
  width: 150px;
  height: 150px;
}

.forecast-icon {
  width: 70px;
  height: 70px;
  margin-top: -30px;
}

.fa-temperature-low {
  color: #90cbf8;
}

.fa-temperature-high {
  color: #de675a;
}

.fa-feather-alt {
  color: #fcf876;
}

.fa-tint {
  color: #90cbf8;
}

.fa-wind {
  color: #b7b6b6;
}

.current-information {
  font-size: 18px;
}

span.variables-border-identifier {
  border: 3px solid;
  width: 6px;
  border-radius: 3px;
  height: 50px;
  float: left;
}

.margin-left-12 {
  margin-left: 12px;
}

span.temperature-information {
  border-color: #de675a;
}

span.uv {
  border-color: #fcf876;
}

span.humidity {
  border-color: #90cbf8;
}

span.wind {
  border-color: #b7b6b6;
}

.forecast {
  color: #798777;
}

.forecast-title {
  margin: 0 0 15px;
}

.forecast ul li {
  font-size: 18px;
}

.border-forecast {
  border-color: #b7b6b6;
}

.input-search {
  width: 300px;
}

.btn {
  position: relative;
  left: 350px;
}

.link-open-source {
  font-family: "Bona Nova", serif;
  margin-left: 10px;
}
